{% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Навбатчилик маркази</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  </head>

<style>
    /* static/ipapp/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1, h2, h3 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    color: black;
    cursor: pointer;
}

@keyframes blinkRed {

    0%  { background-color: white; }
    100% { background-color: red; }
}

.hudud-danger {
    animation: blinkRed 1.0s infinite;
    border-left: 5px solid red;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
}

.ip-danger {
    animation: blinkRed 1.0s infinite;
}

</style>

{% block content %}
  <body>
    <div class="app-container">
      <div class="sidebar">
         <h2 style="align-items: center;">.....</h2>
        <img src="{% static 'images/emblema.png' %}" alt="">
        <div class="sidebar-box">
          <NavLink class="navbar-link-style" to="/"></NavLink>
            <a href="{% url 'dashboard' %}">Dashboard</a>
         <a href="{% url 'index' %}" class="active">Milliy Gvardiya Bo'linmalaridagi ATSlar</a>
          <a href="{% url 'tadbir' %}" >Tadbirlar</a>
          <a href="{% url 'phone' %}">Telefon Raqamlar</a>
        </div>
      </div>
      <div class="main-content">
          <div class="navbar" style="display: flex; justify-content: space-between; padding: 5px 40px;">
              <h5 style="margin: 0;">Bosh sahifa</h5>
              <div style="display: flex; gap: 10px; align-items: center;">
                  {% if profile %}
                  <img src="{{profile}}" style="width: 40px; height: 40px; object-fit: cover;"/>
                   {% endif %}
                  {% if username %}
                  <p style="padding: 0; margin: 0;">{{username}}</p>
                  {% endif %}
              </div>
          </div>
        <div class="all-box">
          <section class="section-1 section-style">
            <div class="markaziy-tugun"  style="border: none;">
              <img src="{% static 'images/baza.png' %}" alt="" />
              <h4>MG bo'linmalaridagi radioaloqa baza stansiyalari</h4>
              <h4>MG DMR Trunk</h4>
            </div>
            <div class="itugun-img">
              <img src="{% static 'images/liniya.png' %}" alt="" />
            </div>
            <div class="text-section">
              <ul class="tree">
                    {% for hudud,holat in hududlar %}
                   <li>
                        <div class="box {% if not holat %}hudud-danger{% endif %}"
                           onclick="showTableModal('{{ hudud }}')"
                             style="padding: 8px 0px;">
                            {{hudud}}
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/baza.png' %}" alt="baza"/>
                        </div>
                    </li>
            <div id="table-modal-{{ hudud }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeTableModal('{{ hudud }}')">&times;</span>
                    <h2 style="font-weight: bold">{{ hudud }} hududidagi IP manzillar</h2>
                    <table>
                        <tr>
                            <th bgcolor="#ff7f50;">Nomeri</th>
                            <th bgcolor="#ff7f50;">IP Manzili</th>
                            <th bgcolor="#ff7f50;">Kategoriya</th>
                            <th bgcolor="#ff7f50;">Faollik</th>
                        </tr>
                        {% for ip in iplar %}
                            {% if ip.hudud == hudud %}
                            <tr style="cursor:pointer;" onclick="showDetailModal('{{ ip.id }}')" class="ip-row {% if not ip.is_active %}ip-danger{% endif %}">
                                <td>{{ ip.nomeri }}</td>
                                <td>{{ ip.ip_manzili }}</td>
                                <td>{{ ip.kategoriya }}</td>
                                <td>{{ ip.is_active|yesno:"Faol,Faol emas" }}</td>
                            </tr>
                            <!-- IP Detail Modal -->
                        <div id="detail-modal-{{ ip.id }}" class="modal">
                        <div class="modal-content" style="
                            background-color: #ffffff;
                            border-radius: 12px;
                            padding: 30px;
                            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
                            max-width: 800px;
                            margin: 5% auto;
                            font-family: 'Segoe UI', sans-serif;
                            color: #333;
                            line-height: 1.6;
                        ">
                            <span class="close" onclick="closeDetailModal('{{ ip.id }}')" style="
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                                color: #999;
                                cursor: pointer;
                            ">&times;</span>

                            <div style="display: flex; justify-content:center; margin-bottom: 20px; width: 100%">
                                <div class="markaziy-tugun" style="border: none; height: auto;">
                                    <img src="{% static 'images/baza.png' %}" alt="" style="width: 250px; height: 300px; object-fit: cover; border-radius: 8px;" />
                                </div>
                            </div>

                            <h2 style="
                                font-weight: 600;
                                background-color: #e0ffe0;
                                padding: 10px 15px;
                                border-left: 5px solid #4CAF50;
                                font-size: 30px;
                                margin-bottom: 20px;
                                text-align: center;
                            ">{{ ip.nomeri }} - IP Ma’lumotlari</h2>

                            <ul style="padding-left: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: flex-start; font-size: 18px;">
                                <li><strong>IP:</strong> {{ ip.ip_manzili }}</li>
                                <li><strong>Kategoriya:</strong> {{ ip.kategoriya }}</li>
                                <li><strong>Hudud:</strong> {{ ip.hudud }}</li>
                                <li><strong>Model:</strong> {{ ip.model }}</li>
                                <li><strong>Yil:</strong> {{ ip.yil }}</li>
                                <li><strong>Joylashuvi:</strong> {{ ip.jolashuvi }}</li>
                                <li><strong>Koordinatalar:</strong> {{ ip.koorX }}, {{ ip.koorY }}</li>
                                <li><strong>Oxirgi tekshiruv:</strong> {{ ip.last_checked }}</li>
                            </ul>
                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">To‘liq Ma’lumot</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.toliq_mal|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Javobgar Shaxs</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.javob_shax|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Ichki Nomer</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.ichki_nomer|safe }}</div>
                        </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
                  {% endfor %}
              </ul>
            </div>
          </section>


            <section class="section-2 section-style">
            <div class="markaziy-tugun" style="border: none; width: 520px;scale: inherit;">
              <img src="{% static 'images/grandstreamats.jpg' %}" alt=""/>
                <br>
              <h4>MG bo'linmalaridagi GRANDSTREAM ATS lar</h4>
             <h4>MG DMR Trunk</h4>
            </div>
            <div class="itugun-img">
              <img src="{% static 'images/liniya.png' %}" alt="" />
            </div>
            <div class="text-section">
              <ul class="tree">
                    {% for h,a in hududlar1 %}
                   <li>
                        <div class="box {% if not a %}hudud-danger{% endif %}"
                           onclick="showTableModal2('{{ h }}')"
                             style="padding: 8px 0px;">
                            {{h}}
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/baza.png' %}" alt="baza"/>
                        </div>
                    </li>
            <div id="table-modal-two-{{ h }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeTableModal2('{{ h }}')">&times;</span>
                    <h2 style="font-weight: bold">{{ h }} hududidagi IP manzillar</h2>
                    <table>
                        <tr>
                            <th bgcolor="#ff7f50;">Nomeri</th>
                            <th bgcolor="#ff7f50;">IP Manzili</th>
                            <th bgcolor="#ff7f50;">Kategoriya</th>
                            <th bgcolor="#ff7f50;">Faollik</th>
                        </tr>
                        {% for ip in iplar1 %}
                            {% if ip.hudud == h %}
                            <tr style="cursor:pointer;" onclick="showDetailModal2('{{ip.id}}')"
    class="ip-row {% if not ip.is_active %}ip-danger{% endif %}">
                                <td>{{ ip.nomeri }}</td>
                                <td>{{ ip.ip_manzili }}</td>
                                <td>{{ ip.kategoriya }}</td>
                                <td>{{ ip.is_active|yesno:"Faol,Faol emas" }}</td>
                            </tr>
                        <div id="detail-modal-two-{{ ip.id }}" class="modal">
                        <div class="modal-content" style="
                            background-color: #ffffff;
                            border-radius: 12px;
                            padding: 30px;
                            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
                            max-width: 800px;
                            margin: 5% auto;
                            font-family: 'Segoe UI', sans-serif;
                            color: #333;
                            line-height: 1.6;
                        ">
                            <span class="close" onclick="closeDetailModal2('{{ip.id}}')" style="
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                                color: #999;
                                cursor: pointer;
                            ">&times;</span>

                            <div style="display: flex; justify-content:center; margin-bottom: 20px; width: 100%">
                                <div class="markaziy-tugun" style="border: none; height: auto;">
                                    <img src="{% static 'images/baza.png' %}" alt="" style="width: 250px; height: 300px; object-fit: cover; border-radius: 8px;" />
                                </div>
                            </div>

                            <h2 style="
                                font-weight: 600;
                                background-color: #e0ffe0;
                                padding: 10px 15px;
                                border-left: 5px solid #4CAF50;
                                font-size: 30px;
                                margin-bottom: 20px;
                                text-align: center;
                            ">{{ ip.nomeri }} - IP Ma’lumotlari</h2>

                            <ul style="padding-left: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: flex-start; font-size: 18px;">
                                <li><strong>IP:</strong> {{ ip.ip_manzili }}</li>
                                <li><strong>Kategoriya:</strong> {{ ip.kategoriya }}</li>
                                <li><strong>Hudud:</strong> {{ ip.hudud }}</li>
                                <li><strong>Model:</strong> {{ ip.model }}</li>
                                <li><strong>Yil:</strong> {{ ip.yil }}</li>
                                <li><strong>Joylashuvi:</strong> {{ ip.jolashuvi }}</li>
                                <li><strong>Koordinatalar:</strong> {{ ip.koorX }}, {{ ip.koorY }}</li>
                                <li><strong>Oxirgi tekshiruv:</strong> {{ ip.last_checked }}</li>
                            </ul>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">To‘liq Ma’lumot</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.toliq_mal|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Javobgar Shaxs</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.javob_shax|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Ichki Nomer</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.ichki_nomer|safe }}</div>
                        </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
                  {% endfor %}
              </ul>
            </div>
          </section>

              <section class="section-3 section-style">
            <div class="markaziy-tugun" style="border: none; width: 520px;scale: inherit;">
              <img src="{% static 'images/panasonic.png' %}" alt=""/>
                <br>
              <h4>MG bo'linmalaridagi Panasonic ATS lar</h4>
             <h4>MG DMR Trunk</h4>
            </div>
            <div class="itugun-img">
              <img src="{% static 'images/liniya.png' %}" alt="" />
            </div>
            <div class="text-section">
              <ul class="tree">
                    {% for h,a in hududlar2 %}
                   <li>
                        <div class="box {% if not a %}hudud-danger{% endif %}"
                           onclick="showTableModal3('{{ h }}')"
                             style="padding: 8px 0px;">
                            {{h}}
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/baza.png' %}" alt="baza"/>
                        </div>
                    </li>
            <div id="table-modal-three-{{ h }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeTableModal3('{{ h }}')">&times;</span>
                    <h2 style="font-weight: bold">{{ h }} hududidagi IP manzillar</h2>
                    <table>
                        <tr>
                            <th bgcolor="#ff7f50;">Nomeri</th>
                            <th bgcolor="#ff7f50;">IP Manzili</th>
                            <th bgcolor="#ff7f50;">Kategoriya</th>
                            <th bgcolor="#ff7f50;">Faollik</th>
                        </tr>
                        {% for ip in iplar2 %}
                            {% if ip.hudud == h %}
                            <tr style="cursor:pointer;" onclick="showDetailModal3('{{ip.id}}')"
    class="ip-row {% if not ip.is_active %}ip-danger{% endif %}">
                                <td>{{ ip.nomeri }}</td>
                                <td>{{ ip.ip_manzili }}</td>
                                <td>{{ ip.kategoriya }}</td>
                                <td>{{ ip.is_active|yesno:"Faol,Faol emas" }}</td>
                            </tr>
                        <div id="detail-modal-three-{{ ip.id }}" class="modal">
                        <div class="modal-content" style="
                            background-color: #ffffff;
                            border-radius: 12px;
                            padding: 30px;
                            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
                            max-width: 800px;
                            margin: 5% auto;
                            font-family: 'Segoe UI', sans-serif;
                            color: #333;
                            line-height: 1.6;
                        ">
                            <span class="close" onclick="closeDetailModal3('{{ip.id}}')" style="
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                                color: #999;
                                cursor: pointer;
                            ">&times;</span>

                            <div style="display: flex; justify-content:center; margin-bottom: 20px; width: 100%">
                                <div class="markaziy-tugun" style="border: none; height: auto;">
                                    <img src="{% static 'images/baza.png' %}" alt="" style="width: 250px; height: 300px; object-fit: cover; border-radius: 8px;" />
                                </div>
                            </div>

                            <h2 style="
                                font-weight: 600;
                                background-color: #e0ffe0;
                                padding: 10px 15px;
                                border-left: 5px solid #4CAF50;
                                font-size: 30px;
                                margin-bottom: 20px;
                                text-align: center;
                            ">{{ ip.nomeri }} - IP Ma’lumotlari</h2>

                            <ul style="padding-left: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: flex-start; font-size: 18px;">
                                <li><strong>IP:</strong> {{ ip.ip_manzili }}</li>
                                <li><strong>Kategoriya:</strong> {{ ip.kategoriya }}</li>
                                <li><strong>Hudud:</strong> {{ ip.hudud }}</li>
                                <li><strong>Model:</strong> {{ ip.model }}</li>
                                <li><strong>Yil:</strong> {{ ip.yil }}</li>
                                <li><strong>Joylashuvi:</strong> {{ ip.jolashuvi }}</li>
                                <li><strong>Koordinatalar:</strong> {{ ip.koorX }}, {{ ip.koorY }}</li>
                                <li><strong>Oxirgi tekshiruv:</strong> {{ ip.last_checked }}</li>
                            </ul>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">To‘liq Ma’lumot</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.toliq_mal|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Javobgar Shaxs</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.javob_shax|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Ichki Nomer</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.ichki_nomer|safe }}</div>
                        </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
                  {% endfor %}
              </ul>
            </div>
          </section>

              <section class="section-4 section-style">
            <div class="markaziy-tugun" style="border: none; width: 520px;scale: inherit;">
              <img src="{% static 'images/switch.png' %}" alt=""/>
                <br>
              <h4>MG bo'linmalaridagi Vlanlar</h4>
             <h4>MG DMR Trunk</h4>
            </div>
            <div class="itugun-img">
<!--              <img src="{% static 'images/liniya.png' %}" alt="" />-->
            </div>
            <div class="text-section">
              <ul class="tree">
                    {% for h,a in zonalar %}
                   <li>
                        <div class="box {% if a %}hudud-danger{% endif %}"
                           onclick="showTableModal4('{{ h }}')"
                             style="padding: 8px 0px;">
                            {{h}}
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/baza.png' %}" alt="baza"/>
                        </div>
                    </li>
            <div id="table-modal-four-{{ h }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeTableModal4('{{ h }}')">&times;</span>
                    <h2 style="font-weight: bold">{{ h }} hududidagi IP manzillar</h2>
                    <table>
                        <tr>
                            <th bgcolor="#ff7f50;">Nomeri</th>
                            <th bgcolor="#ff7f50;">IP Manzili</th>
                            <th bgcolor="#ff7f50;">Kategoriya</th>
                            <th bgcolor="#ff7f50;">Faollik</th>
                        </tr>
                        {% for ip in manzillar %}
                            {% if ip.hudud == h %}
                            <tr style="cursor:pointer;" onclick="showDetailModal4(ip.id)"
    class="ip-row {% if not ip1.is_active %}ip-danger{% endif %}">
                                <td>{{ ip.nomeri }}</td>
                                <td>{{ ip.ip_manzili }}</td>
                                <td>{{ ip.kategoriya }}</td>
                                <td>{{ ip.is_active|yesno:"Faol,Faol emas" }}</td>
                            </tr>
                        <div id="detail-modal-four-{{ ip1.id }}" class="modal">
                        <div class="modal-content" style="
                            background-color: #ffffff;
                            border-radius: 12px;
                            padding: 30px;
                            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
                            max-width: 800px;
                            margin: 5% auto;
                            font-family: 'Segoe UI', sans-serif;
                            color: #333;
                            line-height: 1.6;
                        ">
                            <span class="close" onclick="closeDetailModal4(ip.id)" style="
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                                color: #999;
                                cursor: pointer;
                            ">&times;</span>

                            <div style="display: flex; justify-content:center; margin-bottom: 20px; width: 100%">
                                <div class="markaziy-tugun" style="border: none; height: auto;">
                                    <img src="{% static 'images/baza.png' %}" alt="" style="width: 250px; height: 300px; object-fit: cover; border-radius: 8px;" />
                                </div>
                            </div>

                            <h2 style="
                                font-weight: 600;
                                background-color: #e0ffe0;
                                padding: 10px 15px;
                                border-left: 5px solid #4CAF50;
                                font-size: 30px;
                                margin-bottom: 20px;
                                text-align: center;
                            ">{{ ip.nomeri }} - IP Ma’lumotlari</h2>

                            <ul style="padding-left: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: flex-start; font-size: 18px;">
                                <li><strong>IP:</strong> {{ ip.ip_manzili }}</li>
                                <li><strong>Kategoriya:</strong> {{ ip.kategoriya }}</li>
                                <li><strong>Hudud:</strong> {{ ip.hudud }}</li>
                                <li><strong>Model:</strong> {{ ip.model }}</li>
                                <li><strong>Yil:</strong> {{ ip.yil }}</li>
                                <li><strong>Joylashuvi:</strong> {{ ip.jolashuvi }}</li>
                                <li><strong>Koordinatalar:</strong> {{ ip.koorX }}, {{ ip.koorY }}</li>
                                <li><strong>Oxirgi tekshiruv:</strong> {{ ip.last_checked }}</li>
                            </ul>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">To‘liq Ma’lumot</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.toliq_mal|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Javobgar Shaxs</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.javob_shax|safe }}</div>

                            <h3 style="font-weight: 600; font-size: 18px; margin-top: 20px;">Ichki Nomer</h3>
                            <div style="background-color: #f9f9f9; padding: 15px; border-radius: 6px;">{{ ip.ichki_nomer|safe }}</div>
                        </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
                  {% endfor %}
              </ul>
            </div>
          </section>

        </div>
      </div>
    </div>

<!--     <script src="{% static 'js/script.js' %}"></script>-->
    <script>

        function showTableModal(hudud) {
            document.getElementById('table-modal-' + hudud).style.display = 'block';
        }
        function closeTableModal(hudud) {
            document.getElementById('table-modal-' + hudud).style.display = 'none';
        }
          function showDetailModal(ipId) {
            document.getElementById('detail-modal-' + ipId).style.display = 'block';
        }
        function closeDetailModal(ipId) {
            document.getElementById('detail-modal-' + ipId).style.display = 'none';
        }


        function showTableModal2(hudud) {
            document.getElementById('table-modal-two-' + hudud).style.display = 'block';
        }
        function closeTableModal2(hudud) {
            document.getElementById('table-modal-two-' + hudud).style.display = 'none';
        }

        function showDetailModal2(ipId) {
            document.getElementById('detail-modal-two-' + ipId).style.display = 'block';
        }
        function closeDetailModal2(ipId) {
            document.getElementById('detail-modal-two-' + ipId).style.display = 'none';
        }


       function showTableModal3(hudud) {
            document.getElementById('table-modal-three-' + hudud).style.display = 'block';
        }
        function closeTableModal3(hudud) {
            document.getElementById('table-modal-three-' + hudud).style.display = 'none';
        }
        function showDetailModal3(ipId) {
            document.getElementById('detail-modal-three-' + ipId).style.display = 'block';
        }
        function closeDetailModal3(ipId) {
            document.getElementById('detail-modal-three-' + ipId).style.display = 'none';
        }


        function showTableModal4(hudud) {
            document.getElementById('table-modal-four-' + hudud).style.display = 'block';
        }
        function closeTableModal4(hudud) {
            document.getElementById('table-modal-four-' + hudud).style.display = 'none';
        }
        function showDetailModal4(ipId) {
            document.getElementById('detail-modal-four-' + ipId).style.display = 'block';
        }
        function closeDetailModal4(ipId) {
            document.getElementById('detail-modal-four-' + ipId).style.display = 'none';
        }







          function closeAlert() {
    document.getElementById("ipAlert").style.display = "none";
  }
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>

{% endblock content %}

<!--{% for i in manzillar %}-->
<!--<p>{{i.nomeri}}</p>-->
<!--<p>{{i.turi}}</p>-->
<!--<p>{{i.ip_manzili}}</p>-->
<!--<p>{{i.hudud}}</p>-->
<!--<p>{{i.is_active}}</p>-->
<!--<br>-->
<!--{% endfor %}-->
<!--<br><br>-->
<!--{% for i in iplar %}-->
<!--<p>{{i.nomeri}}</p>-->
<!--<p>{{i.turi}}</p>-->
<!--<p>{{i.ip_manzili}}</p>-->
<!--<p>{{i.hudud}}</p>-->
<!--<p>{{i.is_active}}</p>-->
<!--<br>-->
<!--{% endfor %}-->